# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/
.env*/
.venv/

# Archivos de configuración del entorno
.env
*.env

# Archivos de distribución / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Archivos temporales
*.swp
*.swo

# Coverage / testing
htmlcov/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/